{% extends 'layouts/detail.html' %}
{% load static %}

{% block post_content %}
<!-- Post content in left column -->
{% include 'post/post.html' %}
{% endblock %}

{% block comments_content %}
<!-- Comments section in right column -->
<div class="space-y-2">
    <!-- Comment form -->
    
    <div class="px-2">
        <form method="POST" action="{% url 'comment-sent' post.id %}" class="flex items-center" autocomplete="off">
            {% csrf_token %}
          {{ commentForm }}
            <button type="submit" class="ml-2 button text-sm py-2 px-4">Comment</button>
        </form>
    </div>

    <!-- Comments list -->
    <div class="space-y-2">
         {% for comment in post.comments.all %}
            {% include 'post/post_comment.html' %}
        {% endfor %}  
        
            
    </div>
</div>
{% endblock %}